<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="SecurityOff" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<dataContractSerializer maxItemsInObjectGraph="6553500" />
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="Comunication.Service1">
				<endpoint address="ItaliaPizza" binding="netTcpBinding" bindingConfiguration="SecurityOff" contract="Comunication.IService1" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082" />
						<add baseAddress="net.tcp://localhost:8081" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	
</configuration>