<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.5.0" targetFramework="net48" />
  <package id="Syncfusion.Data.WPF" version="21.2.8" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="21.2.8" targetFramework="net48" />
  <package id="Syncfusion.SfGrid.WPF" version="21.2.8" targetFramework="net48" />
  <package id="Syncfusion.SfSkinManager.WPF" version="21.2.8" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="21.2.8" targetFramework="net48" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net48" />
</packages>